/* Desafío 2 - construyendo unlanding page- julio 2022 */
/*Armando el header imagen y texto */

body{
    font-family: 'Mochiy Pop One', sans-serif;
}

.header{
    height: 3px;
    padding: 5em;
    font-size: 2em;
    background-image:
     url("../imgs/Header-sang.jpg") ;
    background-size: cover;
    background-position: center center;
    color: #ddd; 
}

#texto-header{
    color: gray;
}
.header h1{
    margin: 0px;
    font-weight: 400;
    font-style: italic;
}

.header p{
    padding: 0;
    border: 0;
    margin: 0;

}

/* Sección tablas de productos */

.productos{
    width: 50%;
    margin: auto;
    margin-top: 2em;
    text-align: left;
    color: gray;
}

.productos button{
    background: #ddd;
    border: none;
    cursor: pointer;
    color: rgb(101, 83, 83);
    display: inline-block;
    padding: auto;
    border-radius: 3px;
    text-align: center;
    transition: .3s ease all;
}
.productos button:hover{
    background: rgb(127, 166, 185);
    color: #ddd;}
    

.produtos td{
    width: 50%;
    padding: 2em;
}

.productos td p{
    margin-left: 1em;
    padding: 0;

}
.productos img{
    width: 300px;
    height: 200px;
    /* regula el borde de la imagen*/
    border-radius: 10px / 10px;
}

.precios-productos{
    color: red;
    font-style: italic;
    font-display: flex;
    padding: 0;
}


/* Sección Footer */

.footer{

    margin-top: 20px;
    height: 3em;
    line-height: 3em;
    background-color: rgb(127, 166, 185);
    color: #ddd;
    text-align: center;
    font-family:'Courier New', Courier, monospace ;
    font-weight: 200;
}

.footer a{
    text-decoration: none;
    color: black;
}
